.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

.App-header {
  background-color: #08576d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
    font-size: calc(20px + 4vmin);
  color: white;
}

.App-body {
  padding: 20px;
  display: flex;
  flex-direction: row;
  min-height: 70vh;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

Form {
  color: rgb(3, 3, 3);
  text-align: left;
  padding: 15px;
  background-color: #c9c9c9;
  border-radius: 10px;
}

.Entrada {
  margin-bottom: 20px;
}
.Tabla {
  width: 70%;
  margin-top: 15px;
  border-collapse: inherit;
  text-align: center;
}
th {
  padding: 15px;
  background-color: #08576d;
  color: #f3f3f3;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #c9c9c9;
}

p {
  font-size: calc(20px + 4vmin);
}